# Project exclude paths
/.gradle/
/Problems/A simple calculator/out/
/Problems/A simple calculator/out/production/classes/
/Problems/Arithmetic average/out/
/Problems/Arithmetic average/out/production/classes/
/Problems/Calculating factorials/out/
/Problems/Calculating factorials/out/production/classes/
/Problems/Check a number is positive/out/
/Problems/Check a number is positive/out/production/classes/
/Problems/Check prefix ignoring the case/out/
/Problems/Check prefix ignoring the case/out/production/classes/
/Problems/Chocolate/out/
/Problems/Chocolate/out/production/classes/
/Problems/Collatz conjecture/out/
/Problems/Collatz conjecture/out/production/classes/
/Problems/Composite numbers/out/
/Problems/Composite numbers/out/production/classes/
/Problems/Even or odd/out/
/Problems/Even or odd/out/production/classes/
/Problems/Extracting a substring/out/
/Problems/Extracting a substring/out/production/classes/
/Problems/First, second, third/out/
/Problems/First, second, third/out/production/classes/
/Problems/Floor-space of the room/out/
/Problems/Floor-space of the room/out/production/classes/
/Problems/From string to a number/out/
/Problems/From string to a number/out/production/classes/
/Problems/Harry Potter/out/
/Problems/Harry Potter/out/production/classes/
/Problems/Healthy sleep/out/
/Problems/Healthy sleep/out/production/classes/
/Problems/Interval/out/
/Problems/Interval/out/production/classes/
/Problems/Leap year/out/
/Problems/Leap year/out/production/classes/
/Problems/Maximum element divisible by four/out/
/Problems/Maximum element divisible by four/out/production/classes/
/Problems/Numbers divisible by six/out/
/Problems/Numbers divisible by six/out/production/classes/
/Problems/Profit/out/
/Problems/Profit/out/production/classes/
/Problems/Queens/out/
/Problems/Queens/out/production/classes/
/Problems/Shape/out/
/Problems/Shape/out/production/classes/
/Problems/Squares of natural numbers/out/
/Problems/Squares of natural numbers/out/production/classes/
/Problems/Sum of numbers in the range/out/
/Problems/Sum of numbers in the range/out/production/classes/
/Problems/Symmetrical number/out/
/Problems/Symmetrical number/out/production/classes/
/Problems/The (un)-ordered sequence/out/
/Problems/The (un)-ordered sequence/out/production/classes/
/Problems/The army of units/out/
/Problems/The army of units/out/production/classes/
/Problems/The integer barrier/out/
/Problems/The integer barrier/out/production/classes/
/Problems/The largest element of a sequence/out/
/Problems/The largest element of a sequence/out/production/classes/
/Problems/The length of the sequence/out/
/Problems/The length of the sequence/out/production/classes/
/Problems/The product of numbers from a to b/out/
/Problems/The product of numbers from a to b/out/production/classes/
/Problems/The roots of an equation/out/
/Problems/The roots of an equation/out/production/classes/
/Problems/The sequence/out/
/Problems/The sequence/out/production/classes/
/Problems/The smallest value/out/
/Problems/The smallest value/out/production/classes/
/Problems/The sum of elements/out/
/Problems/The sum of elements/out/production/classes/
/Problems/The sum of integers from a to b/out/
/Problems/The sum of integers from a to b/out/production/classes/
/Problems/Triangle/out/
/Problems/Triangle/out/production/classes/
/Problems/Vowel or not/out/
/Problems/Vowel or not/out/production/classes/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/